<li class="one-country-card">
 <div class="flag-caption">   <img src="{{flags.png}}" alt="{{name}}" class="svg-flag">
  <h2 class="country-title">{{name.common}}</h2></div>
  <div class="country-info-wrap">
    <div class="country-info">
      <p class="country-information"> <span class="country-info-caption">Capital:</span> {{capital}}</p>
      <p class="country-information"> <span class="country-info-caption">Population:</span> {{population}}</p>
      <div class="country-languages">
          <p class="country-information"> <span class="country-info-caption">Languagues:</span> </p>
          <ul class="lang-list">
        {{#each languages}}
        <li class='lang-info'>{{this}}</li>
        {{/each}}
      </ul>
      </div>
    </div>
    
  </div>
</li>